@model WebShop.Models.Cache

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";  
}

<div class=" BoxWrapper">
    @if (ViewData["Message"] != null)
    {
        <div class="MessageBox">
            <span>
                @ViewData["Message"]
            </span>
        </div>
        <br style="clear: left;" />
    }

    @foreach (var item in Model.GetItems())
    {
        @Html.ActionLink(item.Name, "Cache", "Admin", new { clearType = item.ClearType }, null);
        <br />
    }
</div>
