<h2>
    @ViewContext.RouteData.Values["Action"]
</h2>
<div class="HelpButton roundedCornersMin floatRight">
    HELP</div>
<div class="ToPage roundedCornersMin floatRight">
    PROVJERI PROMJENE</div>
