@using Syrilium.Modules.BusinessObjects
@model WebShop.Models.Background

@{
    Model.Request = Request;
}


   @MvcHtmlString.Create(Model.HtmlBackground)


@*<div style="background: url(/Resources/Upload/Images/Partner/Background/Lighthouse.jpg) top center no-repeat; position:absolute; height:768px; width:100%;" ></div>*@