@{
    Layout = null;
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}
<html>
<head>
    <title>Ovrhe</title>
</head>
<body>
    <div>
        <div class="TestWrapper">
            <div class="TestContent">
               @* <div class="TestContentText">
                    <span class="Label Red">Stranica u testnoj fazi! </span>
                    <p>Za informacije i detalje oko oglašavanja te mnoge druge funkcionalnosti portala možete nas kontakirati putem:</p>
                    <p><b>Telefon:</b> + 385 91 3555 067</p>
                    <p><b>E-mail:</b>  ovrhe@ovrhe.hr</p>
                </div>*@
            </div>
        </div>
    </div>
</body>
</html>
