@using WebShop.Models
<div>
    <div class="ControlBoxMainHeader roundedCornersSmall" style="width: 250px;">
        <div class="MapIcon">
            <span class="ControlBoxHeaderText">@Translation.Get("VRIJEME DO POČETKA AUKCIJE")</span></div>
    </div>
    <div class="dividerBig">
    </div>
    <div class="">
    @{
       
        }
    </div>
</div>
